.styled-fieldset {
  border-radius: 8px;
  /* margin-bottom: 1rem; */
}

.styled-legend {
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid rgb(178, 174, 174);
  padding: 10px;
  border-radius: 10px;
}

.document-id-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  img {
    max-width: 16rem;
    height: 170px;
    border-radius: 50%;
    border: 1px solid gray;
  }
}

.passport-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  img {
    max-width: 300px;
    /* height: 170px; */
    border-radius: 50%;
    border: 1px solid gray;
  }
}
