.styled-fieldset {
  /* border: 1px solid #c4cad1; */
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.styled-legend {
  font-size: 1.25rem;
  font-weight: bold;
  /* color: #007bff;  */
  /* text-transform: uppercase; */
  /* padding: 0 10px; */
  /* border: 2px solid #007bff; */
  border-radius: 5px;
  /* background-color: #f8f9fa; Bootstrap light background */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.document-id-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  img {
    max-width: 16rem;
    height: 170px;
    border-radius: 50%;
    border: 1px solid gray;
  }
}

.passport-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  img {
    max-width: 300px;
    /* height: 170px; */
    border-radius: 50%;
    border: 1px solid gray;
  }
}
