.app-container{
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    /* top */
    .top{
        position: sticky;
        top: 15px;
        left: 0;
        background-color: white;
        padding: 10px 30px;
        border-radius: 10px;
        box-shadow: 0px 5px 12px 0px;
        z-index: 1;
    }

    /* main */
    .main{
        flex: 1;
        /* min-height: 3000px; */
        margin-top: 50px;
    }

    /* footer */
}