.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .left {
    img{
        height: 35px;
    }
  }

  .right {
    width: 100%;
    .list-items {
      list-style-type: none;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 1.5rem;
      margin: 0;
    }
  }
}
