@import "../../../node_modules/bootstrap/scss/functions";

$primary: #0076c0;
$secondary: #f4f4f4;
$success: #00bd78;
$info: #09a1ff;
$warning: #bda700;
$danger: #af1d35;
$light: #e3f4ff;
$dark: #002f4b;
$white: #fff;